.header {
  position: absolute;
  width: 100%;
  padding: 32px 35px;
  z-index: 9; }
  .header__list {
    float: right; }
  .header__item {
    height: 48px;
    float: left;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .header__login {
    float: right;
    height: 48px; }
    .header__login-txt {
      float: left;
      margin-right: 10px;
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 48px; }
    .header__login-img {
      float: right;
      height: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
  .header__language-list {
    padding-right: 20px;
    background: url(../img/arrow-down-white-icon.svg) no-repeat right center; }
  .header__language-item {
    position: relative; }
    .header__language-item:hover .header__language-item__lanugage-submenu {
      opacity: 1; }
  .header__language-submenu {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 30px;
    transition: 0.3s; }
    .header__language-submenu:hover {
      opacity: 1; }

.logo {
  float: left; }
  .logo__link {
    display: block; }
  .logo__img {
    width: 100%;
    height: auto; }

.nav {
  float: left;
  margin-left: 35px; }
  .nav__list {
    float: left;
    line-height: 48px; }
  .nav__item {
    float: left;
    margin-right: 35px; }
  .nav__link {
    color: #FFF;
    font-size: 18px;
    font-weight: 300; }
