body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: block;
  float: left;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border: 2px solid #50e3b3;
  border-radius: 30px;
}
.btn--s {
  width: 170px;
  height: 40px;
  font-size: 14px;
  line-height: 36px;
}
.btn--m {
  width: 210px;
  height: 48px;
  line-height: 44px;
}
.btn--l {
  width: 290px;
  height: 60px;
  line-height: 60px;
}
.btn--header {
  margin-left: 240px;
}
.btn--transparent {
  background: transparent;
}
.btn--green {
  background: #50e3b3;
  border: none;
}
.btn--blue {
  background: #24345c;
  border: none;
}
