.hero {
  background-image: url(../img/hero-overlay.png);
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 100px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero:before {
    content: '';
    background: url(../img/hero-overlay.png) no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 40vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
  .hero__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
    position: relative;
    z-index: 2; }
  .hero__banner {
    background: #000;
    width: 728px;
    height: 90px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate3D(-50%, 0, 0); }
  .hero__slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .hero__slide {
    width: 100%;
    height: 100vh; }
    .hero__slide--kotor {
      background: url(../img/hero-img.jpg) no-repeat center center;
      background-size: cover; }

.form {
  width: 845px;
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  .form__input, .form__select, .form__button {
    background-color: #FFF;
    width: 430px;
    height: 60px;
    float: left;
    margin-right: 10px;
    line-height: 60px;
    padding: 0 20px;
    color: #6b696c;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 4px; }
  .form__input {
    background: url(../img/location-icon.svg) no-repeat calc(100% - 20px) center #FFF; }
  .form__select {
    width: 220px;
    background: url(../img/arrow-down-icon.svg) no-repeat calc(100% - 20px) center #FFF;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer; }
  .form__button {
    background: url(../img/search-icon.svg) no-repeat 30px center #50e3b3;
    width: 175px;
    padding-left: 35px;
    margin-right: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer; }

.about {
  background: url(../img/novogradnja-img.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about__wrapper {
    width: 860px;
    max-width: 100%;
    margin: 0 auto; }
  .about__title {
    margin: 0;
    color: #FFF;
    font-size: 38px;
    font-weight: 400; }
  .about__txt {
    margin: 40px 0 50px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 32.4px; }

.property {
  float: left;
  width: 100%;
  padding: 80px 0; }
  .property__wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; }
  .property__banner {
    background: #000;
    width: 970px;
    height: 250px;
    margin: 0 auto 100px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .property__centered {
    display: flex; }
  .property__left {
    width: 50%;
    float: left;
    padding-right: 50px;
    padding-bottom: 20px; }
  .property__title {
    color: #414042;
    font-size: 36px;
    font-weight: 400; }
  .property__subtitle {
    color: #6b696c;
    font-size: 20px;
    font-weight: 400; }
  .property__txt {
    margin-bottom: 50px;
    color: #6b696c;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px; }
  .property__right {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end; }

/*********************** pricing page ***********************/
.intro {
  width: 100%;
  float: left;
  clear: both;
  margin: 100px auto 0;
  padding: 50px 0; }
  .intro__wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
    overflow: hidden;
    position: relative; }
    .intro__wrapper .bar {
      content: '';
      background: #414042;
      width: 100%;
      height: 2px;
      position: absolute;
      right: 0;
      bottom: 0; }
  .intro__title {
    color: #414042;
    font-size: 36px;
    font-weight: 400;
    margin: 60px 0 0;
    float: left; }
  .intro__img {
    float: right; }

.pricing {
  width: 100%;
  float: left;
  clear: both; }
  .pricing__wrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto; }
  .pricing__txt {
    width: 100%;
    max-width: 660px;
    margin: 10px auto 50px;
    text-align: center; }
  .pricing__p {
    color: #414042;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px; }
  .pricing__col-1-4 {
    width: 25%;
    float: left; }
  .pricing__switch {
    width: calc(100% - 4px);
    min-height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #d5d5d5; }
    .pricing__switch .switch__monthly, .pricing__switch .switch__yearly {
      font-size: 18px;
      font-weight: 300; }
    .pricing__switch .switch__yearly {
      font-weight: 700; }
    .pricing__switch .switch__switcher {
      width: 69px;
      height: 35px;
      display: block;
      margin: 20px auto;
      position: relative;
      cursor: pointer;
      border: 1px solid #d5d5d5;
      border-radius: 50px; }
      .pricing__switch .switch__switcher:before {
        content: '';
        background: #c2f5e5;
        width: 23px;
        height: 23px;
        top: 5px;
        right: 6px;
        position: absolute;
        box-shadow: 0 0 0 1px #50e3b3 inset;
        border-radius: 50px;
        transition: 0.3s; }
    .pricing__switch .switch__save {
      display: block;
      color: #ffcd81;
      font-size: 25px;
      font-weight: 600;
      transition: 0.3s; }
  .pricing__plan {
    width: calc(100% - 4px);
    min-height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    border: 1px solid #d5d5d5; }
    .pricing__plan--single {
      background: #50e3c2;
      border-color: #50e3c2; }
    .pricing__plan--multi {
      background: #ffcd81;
      border-color: #ffcd81; }
    .pricing__plan--unlimited {
      background: #ffb74a;
      border-color: #ffb74a; }
    .pricing__plan .plan__title {
      background: url(../img/info-icon.svg) no-repeat left center;
      margin: 0 auto;
      padding-left: 30px;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase; }
    .pricing__plan .plan__number {
      margin-bottom: 20px;
      font-size: 21px;
      font-weight: 500; }
    .pricing__plan .plan__price {
      font-size: 45px;
      font-weight: 700;
      line-height: 1em;
      opacity: 1;
      transition: 0.3s; }
      .pricing__plan .plan__price--crossed {
        color: #474648;
        font-size: 21px;
        font-weight: 500;
        position: relative; }
        .pricing__plan .plan__price--crossed:before {
          content: '';
          background: #474648;
          width: 80px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3D(-50%, 1px, 0);
          transition: 0.3s; }
  .pricing .plan__button {
    width: calc(100% - 4px);
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .pricing .features {
    width: 100%;
    margin-bottom: 50px;
    border-top: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; }
    .pricing .features__item {
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #414042;
      font-family: 'Open Sans';
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      padding: 0 40px;
      border-left: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5; }
    .pricing .features__icon {
      margin: 0 auto; }
    .pricing .features__price-button {
      width: 100%;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-left: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5; }
      .pricing .features__price-button .price {
        font-size: 36px;
        font-weight: 700; }
        .pricing .features__price-button .price--single {
          color: #50e3c2; }
        .pricing .features__price-button .price--multi {
          color: #ffcd81; }
        .pricing .features__price-button .price--unlimited {
          color: #ffb74a; }
        .pricing .features__price-button .price--crossed {
          opacity: 0;
          font-size: 0; }
      .pricing .features__price-button .btn {
        margin: 20px auto 10px; }
    .pricing .features--titles {
      border-left: 1px solid #d5d5d5; }
      .pricing .features--titles .features__item {
        position: relative;
        text-align: left; }
        .pricing .features--titles .features__item:before {
          content: '';
          background: url(../img/info2-icon.svg) no-repeat center center;
          width: 29px;
          height: 29px;
          position: absolute;
          top: 50%;
          left: -15px;
          margin-top: -15px; }
    .pricing .features--last {
      border-right: 2px solid #d5d5d5; }
  .pricing--show-monthly .switch__switcher:before {
    transform: translate3d(-31px, 0, 0); }
  .pricing--show-monthly .switch__monthly {
    font-weight: 700; }
  .pricing--show-monthly .switch__yearly {
    font-weight: 300; }
  .pricing--show-monthly .switch__save {
    opacity: 0; }
  .pricing--show-monthly .pricing__plan .plan__price--discounted {
    opacity: 0;
    font-size: 21px; }
  .pricing--show-monthly .pricing__plan .plan__price--crossed {
    font-size: 45px; }
    .pricing--show-monthly .pricing__plan .plan__price--crossed:before {
      width: 0; }
  .pricing--show-monthly .features .price--crossed {
    opacity: 1;
    font-size: 36px; }
  .pricing--show-monthly .features .price--discounted {
    opacity: 0;
    font-size: 0; }

.description {
  width: 100%;
  margin: 140px auto 180px;
  float: left; }
  .description__wrapper {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    display: flex; }
  .description__left {
    width: 720px;
    float: left; }
  .description__title {
    margin: 0 0 30px;
    color: #414042;
    font-size: 27px;
    font-weight: 400; }
  .description__txt {
    color: #414042;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify; }
  .description__right {
    width: 330px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px; }
  .description__watch {
    width: 237px;
    height: 63px;
    display: inline-block;
    padding: 11px;
    border: 1px solid #6d7893;
    border-radius: 30px; }
  .description__icon {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 10px; }
  .description__desc {
    width: 146px;
    height: 38px;
    color: #6d7893;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; }
