.mobile {
  display: none; }

.desktop {
  display: block; }

@media screen and (max-width: 1200px) {
  .mobile {
    display: block; }
  .desktop {
    display: none; }
  .header {
    background: #24345c;
    padding: 7px 10px;
    position: fixed; }
    .header__list {
      width: 100%;
      padding: 0; }
    .header__item {
      margin: 0 10px 30px; }
    .header__language-list {
      padding-top: 5px; }
  .toggle-menu {
    width: 23px;
    height: 16px;
    display: block;
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer; }
    .toggle-menu__line {
      background: #FFF;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      transition: 0.3s; }
      .toggle-menu__line--top {
        top: 0px; }
      .toggle-menu__line--mid {
        top: 50%;
        margin-top: -1px;
        transition: 0s; }
      .toggle-menu__line--bot {
        bottom: 0; }
  .menu-container {
    opacity: 0;
    visibility: hidden;
    float: left;
    width: 100%;
    max-height: 0;
    transition: 0.3s; }
  .menu-open .toggle-menu__line {
    background: #50e3b3;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0; }
    .menu-open .toggle-menu__line--top {
      top: 50%;
      margin-top: -1px;
      transform: rotate(-45deg); }
    .menu-open .toggle-menu__line--mid {
      width: 0; }
    .menu-open .toggle-menu__line--bot {
      bottom: 50%;
      margin-bottom: -1px;
      transform: rotate(45deg); }
  .menu-open .menu-container {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    padding-top: 20px; }
  .nav {
    margin: 0; }
    .nav__item {
      float: left;
      width: 100%;
      margin: 0;
      line-height: 36px; }
    .nav__link {
      font-size: 16px;
      padding: 0 15px; }
  .btn--header {
    margin: 20px 10px;
    font-size: 14px; }
  .btn--l {
    max-width: 100%; }
  .btn--plan {
    width: 218px;
    height: 49px;
    line-height: 49px;
    font-size: 13px;
    font-weight: 700; }
  .logo__link {
    max-height: 36px; }
  .logo__img {
    height: 36px;
    width: auto; }
  .hero {
    padding: 0 15px; }
    .hero__title {
      font-size: 21px;
      margin-bottom: 90px; }
    .hero__banner {
      width: 300px;
      height: 90px;
      bottom: 15px;
      font-size: 18px; }
  .form {
    width: 100%; }
    .form__input, .form__select, .form__button {
      width: 100%;
      margin-bottom: 5px; }
  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 140px;
    transform: translate3d(-50%, 0, 0); }
  .owl-dot {
    width: 6px;
    height: 6px;
    background: #FFF;
    float: left;
    margin: 0 6px;
    border-radius: 50px; }
    .owl-dot.active {
      background: #50e3b3; }
  .about {
    min-height: 0;
    padding: 80px 20px;
    background-attachment: scroll; }
    .about__title {
      font-size: 18px;
      padding-right: 50px; }
    .about__txt {
      font-size: 14px;
      line-height: 21px; }
  .property__banner {
    width: 300px;
    height: 250px;
    font-size: 18px;
    margin-bottom: 60px; }
  .property__centered {
    display: block; }
  .property__left {
    width: 100%;
    padding: 0 30px;
    display: block; }
  .property__title {
    font-size: 18px; }
  .property__subtitle, .property__txt {
    font-size: 14px; }
  .property__right {
    width: 100%;
    margin: 65px auto 0;
    display: block;
    padding: 0 15px; }
  .property__img {
    max-width: 100%;
    height: auto; }
  .intro {
    margin-top: 50px;
    padding: 50px 20px; }
    .intro__title {
      width: 100%;
      text-align: center;
      margin: 0 auto 30px;
      font-size: 21px; }
    .intro__img {
      max-width: 100%; }
  .pricing__wrapper {
    padding: 0 20px; }
  .pricing__p {
    font-size: 14px; }
  .pricing__col-1-4 {
    width: 100%;
    padding: 0 10px; }
  .pricing__plan {
    width: 100%;
    min-height: 156px; }
    .pricing__plan .plan__title {
      font-size: 17px; }
    .pricing__plan .plan__number {
      font-size: 17px; }
    .pricing__plan .plan__price {
      font-size: 36px; }
    .pricing__plan .plan__price--crossed {
      font-size: 17px; }
      .pricing__plan .plan__price--crossed:before {
        width: 57px; }
  .pricing__switch {
    min-height: 0;
    display: block;
    border: none; }
    .pricing__switch .switch__period {
      float: left;
      line-height: 35px; }
    .pricing__switch .switch__monthly, .pricing__switch .switch__yearly {
      font-size: 14px; }
    .pricing__switch .switch__switcher {
      margin: 0;
      float: right; }
    .pricing__switch .switch__save {
      width: 100%;
      float: left;
      clear: both;
      margin: 0 0 20px;
      font-size: 14px;
      text-align: left; }
  .pricing .features--titles,
  .pricing .plan__button {
    display: none; }
  .pricing .features {
    margin: 3px 0 30px;
    border: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; }
    .pricing .features__item {
      position: relative;
      display: block;
      line-height: 80px;
      padding: 0 30px;
      font-size: 14px;
      text-align: right;
      border: none;
      border-bottom: 1px solid #d5d5d5; }
      .pricing .features__item:before {
        content: '';
        float: left; }
      .pricing .features__item--unit:before {
        content: 'Unit'; }
      .pricing .features__item--logo:before {
        content: 'Custom Logo'; }
      .pricing .features__item--photos:before {
        content: 'Photos'; }
      .pricing .features__item--video:before {
        content: 'Video'; }
      .pricing .features__item--email:before {
        content: 'Support Email'; }
      .pricing .features__item--advanced:before {
        content: 'Advanced'; }
    .pricing .features__icon {
      margin: 30px 0; }
    .pricing .features__price-button {
      height: auto;
      padding: 0 0 10px;
      border: none;
      border-bottom: 1px solid #d5d5d5; }
      .pricing .features__price-button .price {
        display: none; }
  .description {
    margin: 40px 0 60px; }
    .description__wrapper {
      padding: 0 25px;
      display: block; }
    .description__left {
      width: 100%; }
    .description__title {
      font-size: 18px;
      margin-bottom: 18px; }
    .description__txt {
      color: #6b696c;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 32px;
      text-align: left; }
    .description__right {
      width: 100%;
      display: block;
      padding: 0; }
  .footer__wrapper {
    padding: 0; }
  .footer__col {
    width: 100%;
    float: left;
    clear: both;
    padding: 0;
    min-height: 0;
    border-left: none; }
    .footer__col--c, .footer__col--d, .footer__col--e {
      padding: 0 35px; }
    .footer__col--d {
      margin: 10px 0 30px; }
  .footer__txt {
    display: none; }
  .footer__item--inline {
    margin: 0 15px 0 0; }
  .footer__copyrights {
    padding: 20px 0 0; }
  .footer__link {
    width: 100%;
    margin: 0;
    padding: 0 35px; }
    .footer__link--left {
      line-height: 30px; }
    .footer__link--right {
      margin-top: 20px;
      border-top: 1px solid #6d7893; } }

@media screen and (min-width: 750px) and (max-width: 1199px) {
  .hero__title {
    font-size: 40px; }
  .form__input {
    width: 40%; }
  .form__select {
    width: 35%; }
  .form__button {
    width: calc(25% - 20px); }
  .about__title {
    font-size: 27px; }
  .about__txt {
    font-size: 18px;
    line-height: 30px; }
  .property__title {
    font-size: 27px; }
  .property__subtitle {
    font-size: 20px; }
  .property__txt {
    font-size: 18px; }
  .btn--header {
    float: left;
    clear: both; }
  .intro__title {
    font-size: 36px; }
  .description__title {
    font-size: 27px; }
  .description__txt {
    font-size: 18px;
    line-height: 30px; } }

@media screen and (min-width: 1199px) and (max-width: 1300px) {
  .btn--header {
    margin-left: 100px; }
  .property__wrapper {
    padding: 0 50px; }
  .footer__wrapper {
    width: 1150px; }
  .pricing__wrapper {
    padding: 0 20px; } }
