$white: #FFF;
$black: #000;
$gray: #6b696c;
$green: #50e3b3;
$blue: #24345c;

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.btn {
    display: block;
    float: left;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: 2px solid $green;
    border-radius: 30px;
    
    &--s {
        width: 170px;
        height: 40px;
        font-size: 14px;
        line-height: 36px;
    }
    
    &--m {
        width: 210px;
        height: 48px;
        line-height: 44px;
    }
    
    &--l {
        width: 290px;
        height: 60px;
        line-height: 60px;
    }
    
    
    &--header {        
        margin-left: 240px;
    }
    
    &--transparent {
        background: transparent;
    }
    
    &--green {
        background: $green;
        border: none;
    }
    
    &--blue {
        background: $blue;
        border: none;
    }
    
}